body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f5eb;
    padding: 0 20px;
  
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: bolder;
    color: #1d4e56;
    margin-bottom: 0;
}

span {
    font-size: 45px;
    font-weight:lighter;
    text-transform: capitalize;
    color: #333333;
}

img {
    height: 500px;
    border-radius: 10px;
}

#countdown {
    font-size: 34px;
    margin-top: 25px;
    text-align: center;
    margin-bottom: 15px;
   
}
.countdown-section {
    display: inline-block;
    border: 1px solid #00afb9;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #94d2bd;
   
}

.countdown-label {
    font-size: 20px;
    color: #001219;
}